<div id="waves" class="active">
    <div class="small"></div>
    <div class="large"></div>
</div>

<div class="content fullscreen" style="height:900px">
    <section id="projects">
        <article>
			<span data-href="projects" class="link">

				<span class="shadow"></span>

				<div class="black">
                    <span class="icon"></span>
                </div>

			</span>
        </article>
        <article>
			<span data-href="tag" class="link">

				<span class="shadow"></span>

				<div class="black">
                    <span class="icon"></span>
                </div>

			</span>
        </article>

     </section>
</div>
<div style="clear:both"></div>